/* You will neeed to change the font across the webpage*/

/* HOMEPAGE */

body {
    margin: 0px;
}

#backgroundvid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#maintitle {
    color: bisque;
    font-size: 16vw;
    text-align: center;
    margin: 0px;
}

#titlem:hover, #titlei:hover, #titlet:hover, #titlec:hover, #titleh:hover {
    color: white;
}

h1 {
    font-size: 8vw;
}

#subtitle {
    text-align: center;
    font-size: 2vw;
    color: sandybrown
}

nav {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: sandybrown;
}

/*
#homenav {
    visibility: hidden; 
}
*/

nav li {
    display: inline-block;
    padding: 15px;
    font-size: 1em;
}

#mainhome {
    height: 55em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #title {
    width: 70%;
}
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: auto;
    background-color: bisque;
}

/* MY PROJECTS ------------------------------------------------------------------------------------------------------------ */

#mainproject {
    height: 55em;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(white, bisque);
}


#projecttable {
    table-layout: fixed;
    margin: auto;
    width: 80vw;
    /*border: 2px solid black;*/
    text-align: center;
    align-content: center;
}


th {
    height: 3vw;
    color: sandybrown
}

td {
    /*border: solid 1px black;*/
    overflow: hidden;
    color: sandybrown
}

#projectimagerow {
    width: 400px;
    height: 700px;
}

/* FAILED TO PLACE IMAGES CORRECTLY USING OBJECT-FIT AND OBJECT-POSITION. CHANGED TO USING BACKGROUND IMAGE BELOW
.projectimages {
    height: 750px;
    width: 722px;
    object-fit: cover;
    object-position: 70% 80%;
}
*/

.projectimages2 {
    background-image: url("assets/shocked.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Intended to make text appear whilst hovering over corresponding image. Only opacity (below) is currently functional). 
.projecttext {
    visibility: hidden;
}
*/

.projectimages2:hover {
    opacity: 45%;
}

.projectimages2 p {
    z-index: 1;
    color: white
}

.projectimages2 p:hover {
    opacity: 100%;
    visibility: visible;
    color: black;
}

.projectdescrip {
    height: 3vw;
}

/* INFORMATION ------------------------------------------------------------------------------------------------------------ */


#backgroundvid1 {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 92%;
}

#maininfo {
    height: 55em;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;;
}

#infocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 70%;
}

#infopic {
    height: 30vw;
}

#biocontainer {
    background-color: sandybrown;
    padding: 2vw;
    height: 30vw;
    width: 22vw;
    display: flex;
}

#infobio {
    margin: auto;
    color: bisque
}

#infobiointro {
    color: bisque;
    font-size: medium;
}

#infobiointro:hover, #infobiointro1:hover, #infobiointro2:hover, #infobiointro3:hover, #infobiointro4:hover {
    color: black
}


/* TECHNICAL CV ------------------------------------------------------------------------------------------------------------ */

#maintech {
    height: 55em;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* CONTACT ------------------------------------------------------------------------------------------------------------ */

#maincontact {
    height: 55em;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}



#mainhelp {
    height: 55em;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
